@{
    ViewBag.Title = "Contacts";
}

<!DOCTYPE html>

<html>
<body>
    <p><h1>Main Contacts</h1></p>
    @Html.ActionLink("Index", "Index", "Home"); <br>
    @Html.ActionLink("About", "About", "Home");<br>
</body>
</html>