@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>

<html>
<body>
    <p><h1>Admin Product Create</h1></p>
    @Html.RouteLink("Admin area: Home Index", new { controller = "Home", action = "Index", area = "Admin" });<br>
    @Html.RouteLink("Admin area: Product Index", new { controller = "Product", action = "Index", area = "Admin" });<br>
    @Html.RouteLink("Admin area: Product Delete", new { controller = "Product", action = "Delete", area = "Admin" });
</body>
</html>