@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<body>
    <p><h1>Admin Product Index</h1></p>
    @Html.RouteLink("Admin area: Home Index", new { controller = "Home", action = "Index", area = "Admin" });<br>
    @Html.RouteLink("Admin area: Product Create", new { controller = "Product", action = "Create", area = "Admin" });<br>
    @Html.RouteLink("Admin area: Product Delete", new { controller = "Product", action = "Delete", area = "Admin" });<br>
    
    @Html.ActionLink("Go to home", "Index", "Home");
</body>
</html>